<nav class="navbar navbar-expand-md navbar-custom navbar-dark">

  <form action="/product/products" class="form-group" method="GET">
    <input name="search" type="text" placeholder="Search Text..." />
    <label for="productGenders">Choose a gender:</label>

    <select name="gender" class="form-group" id="productGenders">
      <option value="all">All</option>
      <option value="men">Men</option>
      <option value="women">Women</option>
    </select>

    <button type="submit" class="btn btn-success">Search</button>
  </form>

</nav>
